<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/register.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Wendy One' rel='stylesheet'>
    <title>The Quirky Quadrangle</title>
</head>

<body>
    <header>
        <nav><a href="/userProfile">
                <span class="material-symbols-rounded">
                    arrow_back
                </span>
            </a>
        </nav>
    </header>

    <div class="container">
        <form action="/user/<%= user.id  %>/editIt" method="post" enctype="multipart/form-data" class="form">
            <h2 class="form-title">Edit Profile</h2>

            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" id="name" required class="form-input">

            <label for="surname" class="form-label">Surname:</label>
            <input type="text" name="surname" id="surname" required class="form-input"><br>

            <label for="picture">Picture:</label><br>
            <input type="file" id="picture" name="picture" class="form-input">


            <button type="submit" class="form-button">Update</button>
        </form>
    </div>
</body>

</html>