<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/homePage.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Wendy One' rel='stylesheet'>
    <title>Error</title>
</head>

<body>
    <div class="error">
        <h1>Error <%= status %>
        </h1>
        <p>
            <%= message %>
        </p>
        <a><button onclick="goBack()" class="cta-button">Go Back</button></a>
        
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</body>

</html>