<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Quirky Quadrangle</title>
    <link rel="stylesheet" type="text/css" href="./homePage.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Wendy One' rel='stylesheet'>
</head>

<body>
    <section id="hero">
        <h1>Welcome to The Quirky Quadrangle!</h1>
        <p>Explore unique and lesser-known sports from around the
            world!</p>
        <div class="btns">
            <div class="ac">
                <a href="/register" class="cta-button">Register</a>
                <a href="/login" class="cta-button">Log In</a>
            </div>
            <a href="/guest" class="cta-button"> Read more</a>
        </div>
    </section>
    <footer>
        <p>&copy; The Quirky Quadrangle. All rights reserved.</p>
    </footer>
</body>

</html>