<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./register.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href='https://fonts.googleapis.com/css?family=Wendy One' rel='stylesheet'>
    <title>The Quirky Quadrangle</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <span class="material-symbols-rounded">
                    arrow_back
                </span>
            </a>
        </nav>
    </header>

    <div class="container">
        <form action="/login" method="post" class="form">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" id="email" required class="form-input">

            <label for="password" class="form-label"> Password</label>
            <input type="password" name="password" id="password" required class="form-input">
            <button type="submit" class="form-button">Login</button>
        </form>
    </div>
</body>

</html>