<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./article.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cheese Rolling</title>
</head>

<body>
    <header>
        <nav>
            <a href="/sports">
                <span class="material-symbols-rounded">
                    arrow_back
                </span>
            </a>
        </nav>
    </header>
    <nav class="title">
        <h1>Underwater Hockey</h1>
    </nav>
    <div>
        <article>
            <h2>Introduction</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae mauris lacinia, consequat nisi nec,
                dignissim odio. Phasellus nec lacus id risus commodo aliquet at sed lectus. Proin viverra mauris sed
                nulla fermentum, a tempor quam pharetra. Nulla ultricies justo ac ipsum laoreet, a lacinia nisl gravida.
            </p>

            <h2>Main Content</h2>
            <p>Ut aliquam diam vel tellus aliquet, eget fermentum dolor euismod. Quisque et pulvinar nisi. Phasellus id
                libero iaculis, consectetur mi ac, cursus orci. Morbi efficitur tortor at nunc hendrerit pharetra. Sed
                non mattis velit, sed lacinia sapien.</p>

            <h2>Conclusion</h2>
            <p>Donec a ultrices tortor. Mauris sed augue dolor. In pulvinar mi eu sem aliquet, id dapibus est semper.
                Mauris eget condimentum felis. Sed ultrices, enim at consectetur tristique, nisl ligula facilisis lorem,
                auctor consectetur est justo id felis.</p>
        </article>
        <img src="./img/underwater_hockey.jpg" alt="pic" srcset="">
    </div>
</body>

</html>